<!-- popular section -->
<section id="aa-popular-category">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-popular-category-area">
            <!-- start prduct navigation -->
            <ul class="nav nav-tabs aa-products-tab">
              <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
              <li><a href="#featured" data-toggle="tab">Featured</a></li>
              <li><a href="#latest" data-toggle="tab">Latest</a></li>
              <li>
                <button type="button" class="aa-slick-prev slick-arrow"  style="display: block;" (click)="moveLeft()">Previous</button>
                <button type="button" class="aa-slick-next slick-arrow" style="display: block;"  (click)="moveRight()">Next</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <!-- <app-test class="tab-pane fade in active"></app-test> -->
              <!-- Start men popular category -->
              <div class="tab-pane fade in active" id="popular">
                <drag-scroll class="aa-product-catg" #nav>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <div drag-scroll-item><div><app-product-item > </app-product-item></div>  </div>
                  <!-- <div drag-scroll-item> <app-product-item ></app-product-item> </div>
                  <div drag-scroll-item> <app-product-item ></app-product-item> </div>
                  <div drag-scroll-item> <app-product-item ></app-product-item> </div>
                  <div drag-scroll-item> <app-product-item ></app-product-item> </div>
                  <div drag-scroll-item> <app-product-item ></app-product-item> </div>
                  <div drag-scroll-item> <app-product-item ></app-product-item> </div>
                  <div drag-scroll-item> <app-product-item ></app-product-item> </div>                                                 -->
                </drag-scroll>
                <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
              </div>
              <!-- / popular product category -->            
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
  <!-- / popular section -->