<!-- Cart view section -->
<section id="cart-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table">
            <form action="">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngIf="productsCart.length > 0"></th>
                      <th *ngIf="productsCart.length > 0"></th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of productsCart; let index = index">
                      <td>
                        <a class="remove" (click)="deleteProduct(index)">
                          <i class="fa fa-close"></i>
                        </a>
                      </td>
                      <td>
                        <a href="#"><img src="../../../assets/img/man/polo-shirt-1.png" alt="img"></a>
                      </td>
                      <td>
                        <a class="aa-cart-title" href="#">Polo T-Shirt</a>
                      </td>
                      <td>$250</td>
                      <td><input class="aa-cart-quantity" type="number" value="1"></td>
                      <td>$250</td>
                    </tr>
                    
                    <tr>
                      <td colspan="6" class="aa-cart-view-bottom">
                        <div class="aa-cart-coupon">
                          <input class="aa-coupon-code" type="text" placeholder="Coupon">
                          <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                        </div>
                        <input class="aa-cart-view-btn" type="submit" value="Update Cart" routerLink="/product">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
            <!-- Cart Total view -->
            <div class="cart-view-total">
              <h4>Cart Totals</h4>
              <table class="aa-totals-table">
                <tbody>
                  <tr>
                    <th>Subtotal</th>
                    <td>$450</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td>$450</td>
                  </tr>
                </tbody>
              </table>
              <a routerLink="/checkout" class="aa-cart-view-btn">Proced to Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Cart view section -->
