<div class="item">
  <figure>
    <a class="aa-product-img" href="#">
      <img src="assets/img/man/polo-shirt-2.png" alt="polo shirt img">
    </a>
    <a class="aa-add-card-btn" href="#">
      <span class="fa fa-shopping-cart"></span>Add To Cart</a>
    <figcaption>
      <h4 class="aa-product-title">
        <a href="#">Polo T-Shirt</a>
      </h4>
      <span class="aa-product-price">$45.50</span>
      <span class="aa-product-price">
        <del>$65.50</del>
      </span>
    </figcaption>
  </figure>
  <div class="aa-product-hvr-content">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
  </div>
  <!-- product badge -->
  <span class="aa-badge aa-sale" href="#">SALE!</span>
</div>