<!-- Start header section -->
<header id="aa-header">
  <!-- start header top  -->
  <div class="aa-header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-top-area">
            <!-- start header top left -->
            <div class="aa-header-top-left">
              <!-- start cellphone -->
              <div class="cellphone">
                <p><span class="fa fa-phone"></span>00-62-658-658</p>
              </div>
              <!-- / cellphone -->
            </div>
            <!-- / header top left -->

            <div class="aa-header-top-right">
              <ul class="aa-head-top-nav-right">
                <li class="hidden-xs"><a routerLink="/cart">My Cart</a></li>
                <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header top  -->

  <!-- start header bottom  -->
  <div class="aa-header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-bottom-area">
            <!-- logo  -->
            <div class="aa-logo">
              <!-- Text based logo -->
              <a routerLink="/home">
                <span class="fa fa-shopping-cart"></span>
                <p>daily<strong>Shop</strong> <span>Your Shopping Partner</span></p>
              </a>
              <!-- img based logo -->
              <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
            </div>
            <!-- / logo  -->
            <!-- cart box -->
            <div class="aa-cartbox">
              <a class="aa-cart-link" routerLink="/cart">
                <span class="fa fa-shopping-basket"></span>
                <span class="aa-cart-title">SHOPPING CART</span>
                <span class="aa-cart-notify">{{ totalProductsCart }}</span>
              </a>
              
            </div>
            <!-- / cart box -->
            <!-- search box -->
            <div class="aa-search-box">
              <form routerLink="/product">
                <input type="text" placeholder="Search here ex. 'man' ">
                <button type="submit"><span class="fa fa-search"></span></button>
              </form>
            </div>
            <!-- / search box -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header bottom  -->
</header>
<!-- / header section -->

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Login or Register</h4>
        <form 
          class="aa-login-form" 
          [formGroup]="userForm" 
          (ngSubmit)="onLogin(userForm.value)"
        >

          <label>Username or Email address<span>*</span></label>
          <input 
            formControlName="username"
            type="text" placeholder="Username or email"
          >
          <div class="col text-danger" role="alert" 
            *ngIf="userForm.controls.username.touched 
            && userForm.controls.username.errors?.required"
          >
            required*
          </div>

          <label>Password<span>*</span></label>
          <input 
            formControlName="password"
            type="password" placeholder="Password"
          >
          <div class="col text-danger" role="alert" 
            *ngIf="userForm.controls.password.touched
            && userForm.controls.password.errors?.required"
          >
            required*
          </div>

          <button class="aa-browse-btn" type="submit" [ngClass]="{'disabled': !userForm.valid}">Login</button>

          <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
          <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
          <div class="aa-register-now">
            Don't have an account?<a routerLink="/account" data-dismiss="modal" aria-label="Close">Register now!</a>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
