<div class="aa-product-details-content">
  <div class="row">
    <!-- Modal view slider -->
    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="aa-product-view-slider">
        <div id="demo-1" class="simpleLens-gallery-container">
          <div class="simpleLens-container">
            <div class="simpleLens-big-image-container">
              <a class="simpleLens-lens-image">
                <img [src]="productId.img" class="simpleLens-big-image">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal view content -->
    <div class="col-md-7 col-sm-7 col-xs-12">
      <div class="aa-product-view-content">
        <h3>{{ productId.title }}</h3>
        <div class="aa-price-block">
          <span class="aa-product-view-price">${{ productId.price }}</span>
          <p class="aa-product-avilability">Avilability: <span>{{ productId.avilability }}</span></p>
        </div>
        <h4>Size</h4>
        <div class="aa-prod-view-size" >
          <button *ngFor="let size of productSizes" ngclass="active : size.toUpperCase() === productId.size.toUpperCase()">{{size}}</button>
        </div>
        <div class="aa-prod-quantity">
          <form action="">
            <select id="" name="">
              <option selected="1" value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </form>
          <p class="aa-prod-category">
            Category: <b>{{ productId.category }}</b>
          </p>
        </div>
        <div class="aa-prod-view-bottom">
          <a class="aa-add-to-cart-btn" href="#">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
