#aa-slider {
  float: left;
  display: inline;
  width: 100%;
}

#aa-slider .seq-title {
  bottom: 5%;
  left: 50%;
  position: absolute;
  top: 30%;
  width: 58%;
  text-align: center;
  text-shadow: none;
  margin-left: -29%;
}

#aa-slider .seq-title span {
  background-color: #fff; 
  color: #ff6666; 
  display: inline-block;
  padding: 6px 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

#aa-slider .seq-title h2 {
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  display: block;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
}

#aa-slider .seq-title p {
  color: #fff;
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 18px;
  width: auto;
  margin-top: 20px;
}

#aa-slider .seq-title .aa-shop-now-btn {
  margin-top: 20px;
}

@media (max-width: 991px){
  #aa-slider .seq-title {
    top: 10%;
    
  }

  #aa-slider .seq-title h2{
    line-height: 60px;
    font-size: 45px;
  }
}

@media only screen and (max-width: 640px){
  #aa-slider .seq-title {
    display: inline-block;
    bottom: 0;
    width: 40%;
    margin-left: -20%;
    left: 50%;
  }

  #aa-slider .seq-title h2 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
    padding: 5px 10px;
  }

}

@media only screen and (max-width: 480px){
  #aa-slider .seq-title, .carousel-control{
    display: none;
  }
}

