#aa-subscribe {
  display: inline;
  float: left;
  width: 100%;
}

#aa-subscribe .aa-subscribe-area {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  text-align: center;
}

#aa-subscribe .aa-subscribe-area h3 {
  color: #222;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  text-transform: uppercase;
}

#aa-subscribe .aa-subscribe-area p {
  color: #333;
  font-size: 15px;
  letter-spacing: 0.5px;
}

#aa-subscribe .aa-subscribe-area .aa-subscribe-form {
  margin: 20px auto 0;
  position: relative;
  width: 450px;
}

#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  color: #555;
  height: 40px;
  padding: 5px 125px 5px 10px;
  width: 100%;
}

#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
  color: #fff;
  background-color: #ff6666;
  border: 1px solid #ff6666;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 120px;
}