<app-checkout></app-checkout>

<!-- <app-product-category></app-product-category> -->

<!-- banner section -->
<!-- <section id="aa-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">        
        <div class="row">
          <div class="aa-banner-area">
          <a href="#"><img src="assets/img/fashion-banner.jpg" alt="fashion banner img"></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-popular-category></app-popular-category>

<app-product-quick-view></app-product-quick-view> -->