<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
            
              <!-- start prduct navigation -->
               <ul class="nav nav-tabs aa-products-tab">
                  <li class="active"><a href="#men" data-toggle="tab">Men</a></li>
                  <li><a href="#women" data-toggle="tab">Women</a></li>
                  <li><a href="#sports" data-toggle="tab">Kids</a></li>
                  <li><a href="#electronics" data-toggle="tab">Sports</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <!-- Start men product category -->
                  <div class="tab-pane fade in active" id="men">
                    <ul class="aa-product-catg">
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                      <!-- start single product item -->
                      <app-test-item></app-test-item>
                    </ul>
                    <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                  <!-- / men product category -->
                </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>