<!-- <button type="button" class="slick-prev slick-arrow"  style="display: block;" (click)="moveLeft()">Previous</button>
                  <button type="button" class="slick-next slick-arrow" style="display: block;"  (click)="moveRight()">Next</button>
<drag-scroll class="aa-product-catg" #nav>
  <app-product-item drag-scroll-item></app-product-item>
  <app-product-item drag-scroll-item></app-product-item>
  <app-product-item drag-scroll-item></app-product-item>
  <app-product-item drag-scroll-item></app-product-item>
  <app-product-item drag-scroll-item></app-product-item>
  <app-product-item drag-scroll-item></app-product-item>
    
  </drag-scroll> -->



  <div class="tab-pane fade in active" id="popular">
      <button type="button" class="slick-prev slick-arrow"  style="display: block;" (click)="moveLeft()">Previous</button>
      <button type="button" class="slick-next slick-arrow" style="display: block;"  (click)="moveRight()">Next</button>
      <drag-scroll class="aa-product-catg" #nav>
        <app-product-item drag-scroll-item></app-product-item>
        <app-product-item drag-scroll-item></app-product-item>
        <app-product-item drag-scroll-item></app-product-item>
        <app-product-item drag-scroll-item></app-product-item>
        <app-product-item drag-scroll-item></app-product-item>
        <app-product-item drag-scroll-item></app-product-item>
          
      </drag-scroll>

    <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
  </div>
