.aa-product-details-bottom {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.aa-product-details-bottom .nav-tabs {
  text-align: center;
}

.aa-product-details-bottom .nav-tabs li {
  display: inline-block;
  float: none;
  margin-bottom: 0px;
}

.aa-product-details-bottom .nav-tabs li a {
  border-radius: 0;
  border: none;
  font-size: 18px;
}

.aa-product-details-bottom .nav-tabs li a:hover,
.aa-product-details-bottom .nav-tabs li a:focus {
  background-color: transparent;
  border: none;
  color: #ff6666;
}

.aa-product-details-bottom #description {
  padding: 20px 10px;
}

.aa-product-details-bottom #description ul {
  margin-bottom: 10px;
  padding-left: 25px;
}

.aa-product-details-bottom #description ul li {
  color: #555;
  list-style: outside none square;
  margin-top: 5px;
}

.aa-product-details-bottom .aa-product-review-area {
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
}

.aa-product-details-bottom .aa-product-review-area>h4 {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.aa-product-details-bottom .aa-product-review-area .aa-review-nav li {
  margin-bottom: 20px;
}

.aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-object {
  display: block;
  height: 60px;
  width: 60px;
}

.aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body {
  border: 1px solid #ccc;
  padding: 10px;
}

.aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .media-heading {
  font-size: 16px;
}

.aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .aa-product-rating span {
  color: #ff6600;
}

.aa-product-details-bottom .aa-review-form {
  margin-top: 20px;
}

.aa-product-details-bottom .aa-review-form label {
  color: #555;
}

.aa-product-details-bottom .aa-review-form textarea {
  height: 200px;
}

.aa-product-details-bottom .aa-review-form input {
  height: 45px;
}

.aa-product-details-bottom .aa-review-form .aa-review-submit {
  border-radius: 0;
  font-size: 18px;
  height: 45px;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ff6666;
  border-color: #ff6666;
}

.aa-product-details-bottom .aa-review-form .aa-review-submit:hover {
  background-color: #000;
  border-color: #000;
}

.aa-product-details-bottom .aa-review-form .form-control {
  box-shadow: none;
  border-radius: 0;
}

.aa-product-details-bottom .aa-review-form .form-control:focus {
  box-shadow: none;
  border-color: #ff6666;
}
