#menu {
  display: inline;
  float: left;
  width: 100%;
  background-color: #ff6666;
}

#menu .menu-area {
  float: left;
  display: inline;
  width: 100%;
}

#menu .menu-area .navbar-default {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: auto;
}

#menu .menu-area .navbar-default .navbar-nav {
  display: inline-block;
  float: left;
  margin: 0;
  text-align: center;
  width: 100%;
}

#menu .menu-area .navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  -webkit-transition: all 0.5s;
  -moz-transition   : all 0.5s;
  -ms-transition    : all 0.5s;
  -o-transition     : all 0.5s;
  transition        : all 0.5s;
}

#menu .menu-area .navbar-default .navbar-nav li.active a{
  background-color: #fff;
  color: #ff6666;
}

#menu .menu-area .navbar-default .navbar-nav .open a {
  background-color: #fff;
  color: #ff6666;
}

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {
  padding: 8px 15px;
  color: #ff6666;
}

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover,
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus {
  color: #fff;
  background-color: #ff6666;
}

#menu .menu-area .navbar-default .navbar-nav .dropdown-menu .dropdown-header {
  color: #555;
  display: block;
  font-size: 16px;
  padding: 3px 20px;
  text-transform: uppercase;
}

@media (max-width: 991px){
    #menu .menu-area .navbar-default .navbar-nav li a {
      font-size: 15px;
      padding: 8px;
    }
}
